<!DOCTYPE html>
<html>
    <head>
        <title>股票紅綠燈</title>
    </head>
    <body>
        <h1>股票紅綠燈</h1>
        <p>請輸入股票號碼</p>
        <form action="/" method="get">
            股票號碼<input type="text" name="stock_number" id="" value="{{stock.number}}">
            <input type="submit" value="查詢">
        </form>
        {%if stock%}
        <table>
            <tbody>
                <tr>
                    <th>股票名稱</th>
                    <th>現價</th>
                    <th>一年投資報酬率</th>
                    <th>五年投資報酬率</th>
                    <th>十年投資報酬率</th>
                </tr>
                <tr>
                    <td>{{stock.name}}</td>
                    <td>{{stock.price}}</td>
                    <td style="background-color: {{stock.color(1)}}">{{stock.ROI(1)}}%</td>
                    <td style="background-color: {{stock.color(5)}}">{{stock.ROI(5)}}%</td>
                    <td style="background-color: {{stock.color(10)}}">{{stock.ROI(10)}}%</td>
                </tr>
            </tbody>
        </table>
        {%endif%}
    </body>
</html>